# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


/*/migrations/*.py
!*/migrations/__init__.py


/sels_fe/src/node_modules
/sels_fe/src/.pnp
.pnp.js

# testing
/sels_fe/src/coverage

# production
/sels_fe/src/build

# misc
/sels_fe/src/.DS_Store
/sels_fe/src/.env.local
/sels_fe/src/.env.development.local
/sels_fe/src/.env.test.local
/sels_fe/src/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
