# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


/*/migrations/*.py
!*/migrations/__init__.py

*/__pycache__/*.pyc


#uncomment before creating commit for user authentication
/sels_core/permissions.py